[include ercf_hardware.cfg]
[include ercf_software.cfg]
[include ercf_macro.cfg]
#[include ercf_tip_form.cfg]
#[include client_macros]

[mcu ercf]
#serial: /dev/ttyACM1
serial: /dev/serial/by-id/usb-Klipper_samd21g18a_6A4EA7623934555020312E390C1C10FF-if00