###############################
# ERCF module to make Macros visible
###############################

[gcode_macro ERCF_MOTORS_OFF]
gcode:
	_ERCF_MOTORS_OFF
	
[gcode_macro ERCF_SERVO_UP]
gcode:
	_ERCF_SERVO_UP
	
[gcode_macro ERCF_CALIBRATE_SINGLE]
gcode:
    {%set t=(params.TOOL|default(0)|int) %}
	_ERCF_CALIBRATE_SINGLE TOOL={t}
